.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.container {
    list-style-type: none;
    background: #F1F3F4;
    border: 1px solid #F1F3F4;
    margin: 5px;
    width: 30%;
    min-width: 200px;
    padding-bottom: 5px;
}
.container:hover{
    background: #E3E3E4;
    box-shadow: 1px 1px 2px;

}
span {
    color:#818181;
}
div {
    font-size: small;
    color:black;
}
.id{
    font-size: large;
}
button {
    background: #818181;
    color: #F1F3F4;
}